.field-name-field-payment-modality {
  $icon-font-size: 14px;

  @extend %clearfix; // pre-clearfix to provide spacing
  @extend %table-field-reset;
  display: block;
  clear: both;
  margin-right: 0 - $line-item-padding-right; // @TODO: button-padding-fix
  padding-top: $ds;
  font-size: $font-size-small;

  > div {
    margin: 0 (0 - $ds); // top-margin provided by parent padding due to floating of other content
    padding: 5px $ds;
    border-top: 1px dashed rgba(#000, .2);
  }

  table {
    margin-bottom: -5px;
    font-size: 1em;
  }

  thead,
  tbody,
  tr,
  th,
  td {
    display: inline-block; // table? ha!
  }

  thead {
    tr:nth-child(odd) {
      background-color: transparent;
    }

    label {
      padding-bottom: 0;
      font-weight: bold;

      &:after {
        content: ':';
      }
    }
  }

  // reset
  tbody {
    tr {
      margin-left: 8px;

      &:after {
        position: relative;
        top: 2px;
        margin-left: -2px;
        content: ',';
      }

      &:last-child:after {
        display: none;
      }

      &:nth-child(n) {
        background-color: transparent;
        border-top-width: 0;
      }
    }

    ul,
    td {
      margin: 0;
      padding: 0;
    }
  }

  &.field-type-entityreference {
    margin-bottom: 0;
  }

  // dragging - hiding for now
  .field-multiple-drag {
    display: none;
  }

  // remove background-image and dimensions
  // had to use selector overloading
  .add-dialog.add-dialog,
  .edit-dialog.edit-dialog {
    @extend %link-text-deco;
    margin: 0; // reset
    padding: 0;
    background: none;
  }

  // icons
  .delete-dialog,
  .add-dialog {
    &:before {
      position: relative;
      float: left;
      color: rgba(#000, .5);
    }
  }

  // delete icon
  .delete-dialog {
    display: inline-block;
    margin-left: 1px;
    text-indent: -9999em;
    font-size: $icon-font-size; // hide the text
    cursor: pointer;

    &:before {
      @include font-awesome-icon(times-circle);
      top: 1px;
      text-indent: 0; // reset
    }

    &:hover:before {
      color: $color-button-delete;
    }
  }

  // add
  .add-dialog {
    &:before {
      @include font-awesome-icon(plus-circle);
      top: 3px;
      margin: {
        right: 3px;
        top: -6px; // wired.. but works
      }
      text-decoration: none;
      font-size: $icon-font-size;
    }

    &:hover:before {
      color: $color-deep-sea;
    }
  }
}
